
.submit{
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 20%;
    height: 3rem;
    width: 5rem;
    font-family: "Sacramento", cursive;
    font-size:xx-large;
}